{% extends 'base.html.twig' %}

{% block title %}Lien parent{% endblock %}

{% block body %}
    <div class="container">
        {% for link in links_parent %}
            <div class="row top-buffer">
                <div class="col-md-12 text-center">
                    {% if link.link == "" %}
                        {% set href = path('default', {'link_parent': link.id}) %}
                    {% else %}
                        {% set href = link.link %}
                    {% endif %}
                    <a href="{{ href }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">{{ link.name }}</a>
                </div>
            </div>
        {% endfor %}
        <div class=".top-buffer"></div>
        {% if id_current_link != 0 %}
            <div class="row top-buffer">
                <div class="col-md-12 text-center">
                    <a href="{{ path('default', {'link_parent': 0}) }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Retour</a>
                </div>
            </div>
        {% endif %}
        {% if id_current_link == 0 %}
        <div class="row top-buffer">
                <div class="col-md-12 text-center">
                    <a href="{{ path('link_index') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit link</a>
                </div>
        </div>
        {% endif %}
    <div>
{% endblock %}